@import "../configs/colors"

.NavBar
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  height: 52px
  background-color: $primary-color
  top: 0
  position: sticky
  z-index: 10000

.NavBar__bar
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  height: 52px
  background-color: $primary-color
