@import "configs/colors"

.link
  padding: 1em
  border-style: solid
  border-width: 1px
  border-radius: 4px
  text-decoration: none
  color: white

.button
  border-style: none
  padding: 8px
  border-radius: 4px

.button:disabled
  background-color: rgba(211, 211, 211, 0.73)
  cursor: not-allowed

.is-success
  background-color: $success-color

//... other action colors here

.is-dark
  background-color: $dark-color

.is-light
  background-color: $light-color

.is-extra-light
  background-color: $extra-light-color

.margin-top
  margin-top: 8px

.margin-top-small
  margin-top: 2px

.margin-bottom
  margin-bottom: 8px

.margin-right
  margin-right: 8px

.margin-left
  margin-left: 8px

.center
  display: flex
  justify-content: center
  align-items: center

.flex-wrap
  flex-wrap: wrap

.padding-small
  padding: 1em

.padding-medium
  padding: 1em

.is-border
  border-style: solid
  border-width: 1px

.default-table
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
  border-collapse: collapse
  width: 100%

.default-table td
  border: 1px solid #ddd
  padding: 8px

.default-table tr:nth-child(even)
  background-color: #f2f2f2

.default-table tr:hover
  background-color: #ddd
